:root {
    /* --input-height: calc(100 / 10 * var(--vh)); */
    --input-height: calc(10vh - 0.55rem - (var(--vh) / 10));
    --base: 1.25rem;
}

html {
    font: 26px / 1.25 -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    /* overflow: hidden; */
    /* background-color: #111; */
}

body {
    background-color: white;
    color: color;
}

body > * {
    padding: 0.5rem;
    /* padding-bottom: 0; */
}

html:not(#admin) [admin-only] {
    display: none;
}

textarea {
    width: 100%;
    font-size: inherit;
}

h3 {
    margin-bottom: 1rem;
}

input,
button,
label {
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    padding: 0;
}

button {
    height: var(--input-height);
    font-size: inherit;
    color: white;
    /* mix-blend-mode: difference; */
    background-color: lightgray;
    position: relative;
}

p {
    margin-bottom: var(--base);
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    box-sizing: border-box;
}

#presets.grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#devices-load.grid {
    grid-template-columns: 1fr 1fr 1fr;
}

#devices.grid {
    grid-template-columns: 1fr 1fr 1fr;
}

@font-face {
    font-family: 'Noto Sans';
    font-weight: 400;
    font-style: normal;
    src: url(NotoSans-Light.woff2) format('woff2');
    unicode-range: U+000-5FF;
    font-display: swap;
}
